* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.toast--success .toast__icon, .toast--success .toast__title {
    color: green;
}

.toast--success {
    border-left-color: green !important;
}

.toast--error .toast__icon, .toast--error .toast__title {
    color: red;
}

.toast--error {
    border-left-color: red !important;
}

.toast--info .toast__icon, .toast--info .toast__title {
    color: #537FE7;
}

.toast--info {
    border-left-color: #537FE7 !important;
}

.toast--warning .toast__icon, .toast--warning .toast__title {
    color: #E7B10A;
}

.toast--warning {
    border-left-color: #E7B10A !important;
}


.toast__icon {
    padding: 0 12px;
    font-size: 30px;
}

.toast {
    display: flex;
    background-color: white;
    min-width: 400px;
    max-width: 450px;
    margin: auto;
    margin-top: 16px;
    padding: 12px 0;
    justify-content: center;
    align-items: center;
    border-left: 4px solid;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    position: relative;
    -webkit-transition: all linear 0.25s;
    z-index: 9999;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast__body {
    flex-grow: 1; 
    /* this is to prevent the content shrink if the message is too short */
}

.toast__message {
    line-height: 1.4;
}

.toast__close {
    padding: 0 16px;
    font-size: 24px;
    opacity: 0.3;
    
}

.toast__close:hover {
    opacity: 1;
    cursor: pointer;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

/* Design button */

.button {
    margin-top: 400px;
    display: flex;
    justify-content: space-evenly;
    
}

.btn {
    padding: 12px;
    width: 200px;
    border-radius: 20px;
    text-align: center;
    color: #333;
    margin: 0 12px;
}

.btn:hover {
    cursor: pointer;
}

.btn--success {
    background-color: green;

}

.btn--warning {
    background-color: yellow;

}

.btn--error {
    background-color: red;

}

.btn--info {
    background-color: #537FE7;

}


