/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.header {
    background-color: black;
    height: 46px;
    position: fixed;
    width: 100%;
}

.nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
}

.nav > li > a {
    text-transform: uppercase;
}

.nav li a {
    color: white;
    display: block;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
}

.nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

/* submore */

.sub-more {
    background-color: white;
    display: none;
    position: absolute;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

li:hover > .sub-more {
    display: block;
}

.sub-more li {
    display: block;
    min-width: 160px;
}

.sub-more li a {
    color: black;
    line-height: 40px;
    padding: 0 16px;
}

.sub-more > li:hover > a {
    background-color: #ccc;
}

/* search button and icon */

.nav-arrow-down {
    font-size: 10px;
    font-weight: bolder;
}

.search-btn {
    float: right;
}

.search-btn .ti-search {
    color: white;
    display: block;
    font-size: 20px;
    line-height: 46px;
    padding: 0 20px;
}

.search-btn:hover .ti-search {
    cursor: pointer;
    background-color: orangered;
}


.slider {
    background-color: grey;
    height: 1000px;
}