* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.header {
    background-color: black;
    height: 46px;
    box-shadow: 5px 0 10px grey;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: white;
    display: block;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
}

.nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

/* sub more */

.sub-more {
    background-color: white;
    display: none;
    position: absolute;
}

li:hover > .sub-more{
    display: block;
}

.sub-more li {
    display: block;
    width: 160px;
}

.sub-more li a {
    color: black;
    line-height: 40px;
    padding: 0 16px;
    display: block;
}

.sub-more > li:hover > a {
    background-color: #ccc;
    color: black;
}

.slider {
    height: 500px;
    background-color: grey;
}