/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.nav {
    display: inline-block;
}

.nav li {
    display: inline-block;
}

.nav > li > a {
    text-transform: uppercase;
}

.nav li a{
    color: white;
    display: block;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
}

.nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

/* sub more */

.sub-more {
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: none;
    position: absolute;
    top: 46px;
}

.sub-more li {
    display: block;
    min-width: 160px;
}

.sub-more li a {
    color: black;
    padding: 0 16px;
    line-height: 40px;
}

.sub-more > li:hover > a {
    background-color: #ccc;
}

li:hover > .sub-more {
    display: block;
}

/* search btn */

.search-btn {
    float: right;
}

.ti-search {
    color: white;
    display: block;
    line-height: 46px !important;
    padding: 0 20px;
}

.search-btn:hover .ti-search {
    background-color: orangered;
    cursor: pointer;
}

/* slider */

.slider {
    position: relative;
    padding-top: 50%;
    margin-top: 46px;
    background: url('./img/chicago.jpg') top center / cover no-repeat;
}

.slider-content {
    color: white;
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
}

.slider-sentence {
    margin: 15px 0;
}

/* content*/
    /* about */

.content .content-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;
}

.section-heading, .section-sub-heading {
    text-align: center;
}

.section-heading {
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 4px;
    margin: 10px 0;
}

.section-sub-heading {
    font-size: 15px;
    margin: 15px 0;
    opacity: 0.7;
}

.about .about-section {
    text-align: justify ;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
    margin: 15px 0;
}
        /* member pictures */

.member {
    padding: 32px 0;
}

.member .member-single{
    display: inline-block;
    width: 32.9%;
}

.member .member-name {
    text-align: center;
    margin: 15px 0;
}

.member .member-img {
    width: 154px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

