/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.header {
    background-color: black;
    height: 46px;
}

.nav {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.nav li {
    display: inline-block;
    position: relative;
}

.nav li a {
    color: white;
    display: block;
    line-height: 46px;
    padding: 0 24px;
    text-decoration: none;
}

.nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

.ti-angle-down {
    font-size: 8px;
}

.ti-search {
    color: white;
    position: absolute;
    right: 0;
    padding: 15px 15px;
}

.ti-search:hover {
    background-color: orangered;
    cursor: pointer;
}

/* sub more */

.nav li {
    position: relative;
}

.sub-more {
    background-color: white;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

li:hover > .sub-more {
    display: block;
}

.sub-more li {
    display: block;
    min-width: 160px;
}

.sub-more li a {
    color: black;
    line-height: 40px;
    padding: 0 16px;
}

.sub-more > li:hover > a {
    background-color: #ccc;
}

/* slider */
.slider {
    background-color: white;
    height: 500px;
}
